#footer {
    background-color:green;
    color:white;
    clear:both;
    text-align:center;
    font-family: a
 }
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:green;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.profile{

        width: 300px;
        height: 300px;
    background-image: url("../images/prof.jpg");
    background-size: 300px;
    background-repeat: no-repeat;
    border-radius: 50%;

 
}
body{
    background-color: whitesmoke;
    background-size: 1000px;
    
    background-repeat: no-repeat;
    background-position: right;
    color: maroon;
    
}
@media only screen and (max-width: 700px){
    body{
        background-color: whitesmoke;
    }
}

