table {
    border-collapse: collapse;

    width: 100%;
}

table, td, th {
    border: 1px solid black;
}
th {
    height: 50px;
}
th, td {
    padding: 15px;
    text-align: left;
}
tr:nth-child(odd) {
    background-color: #f2f2f2;
}
body{
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 1400px;
    color: maroon;
}

@media only screen and (max-width: 700px){
    body{
        background-color: lightblue;
    }
}
#footer {
    background-color:green;
    color:white;
    clear:both;
    text-align:center;
    font-family: a
 }
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:green;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}